@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Poppins:wght@900&family=Pridi:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

header {
    background-image: url("../images/Hero.jpg");
    background-size: cover;
    height: 100vh;
    padding: 30rem 9rem;
    text-align: center;
    stroke: #000;
}

h1 {
    font-size: 11rem;
    font-weight: 900;
    color: #FFF;
    width: 110rem;
    font-family: Poppins;
    -webkit-text-stroke: 1px #000;
}

span {
    font-size: 4.8rem;
    font-weight: 700;
    color: #FFF;
    font-family: Pridi;
    -webkit-text-stroke: 1px #000;
}

section {
    background-image: url("../images/Energ_Renov.jpg");
    background-size: cover;
    height: 75vh;
    background-position-x: -8rem;
    background-position-y: -8rem;
}

h2 {
    font-size: 12.8rem;
    font-weight: 700;
    color: #FFF;
    font-family: Pridi;
    text-shadow: #000;
    -webkit-text-stroke: 1px #000;
    margin-left: 60rem;
    line-height: 13rem;
    height: 26rem;
}

p {
    font-size: 2.4rem;
    font-weight: 400;
    color: #000;
    font-family: Baskervville;
    width: 65rem;
    height: 30rem;
    margin-left: 44%;
}