@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

header {
    background-image: url("../images/Hero.png");
    background-size: cover;
    height: 100vh;
    padding: 30rem 16.5rem;
}

h1 {
    font-size: 11rem;
    font-weight: 900;
    color: #FFF;
    font-family: Poppins;
    stroke:#000;
}
